<section>
  <app-finder (valueEvent)="find($event)" />
  <span *ngIf="loading">
    <mat-spinner></mat-spinner>
  </span>
  <div *ngIf="matchState.length > 0">
    <app-herolist
      (deleteHeroEvent)="openDialog($event)"
      [herolist]="matchState"
    />
  </div>
  <div *ngIf="matchState.length === 0 && !loading" class="nothingToShow">
    <mat-icon aria-label="cross" class="cross">clear</mat-icon>
    Nothing to show
  </div>
</section>

<div class="newButton-container">
  <button
    class="newButton"
    mat-fab
    color="primary"
    aria-label="New Hero"
    routerLink="/new"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
